/*MODAL JOGADOR*/
.container_filtro {
  display: flex;
  font-size: 12px;
  color: #7a7a7a;
  flex-wrap: wrap
}

.filtro_nivel {
  display: flex;
  width: auto;
  margin-bottom: 20px;
}

.opcoesNivel{
  margin:1vw;
  display: flex;
  justify-content: space-between;
  width: 150px;
}
p.titleFiltro {
  padding: 0 15px 15px 0;
}

.container_sliders{
  display: flex;
  flex-wrap: wrap;
}

.filtro_comportamento {
  width: 200px;
}

.filtro_habilidade {
  width: 200px;
}