.roomUniqueContainer {
    min-width: 26vw;
    height: 75%;
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomUniqueContent {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.roomUniqueNameAndInformation {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.roomUniqueNameAndInformation h2 {
    color: white;
    font-size: 0.8rem;
    max-width: 12vw;
    white-space: nowrap;
    overflow: hidden;
}

.roomUniqueNameAndInformation h3 {
    font-size: 0.7rem;
    color: white;
}


.roomUniqueInformationRoomFilters {
    width: 100%;
    height: 23%;
    display: flex;
    gap: 3%;
    align-items: center;
    font-size: 0.8rem;
    overflow: hidden;
}

.roomUniqueGame {
    color: white;
    padding: 2% 2.5%;
    border-radius: 20px;
    background-color: #00FF33;
}

.roomUniqueFiltersTags {
    color: white;
    padding: 2% 2.5%;
    border-radius: 20px;
    background-color: rgba(0, 255, 51, 0.1);
    font-size: 0.6rem;
}

.divGamersContent {
    width: 80%;
    background-color: green;
    height: 30%;
}


.divDescriptionAndButtonContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
}

.descriptionRoomContainer {
    width: 70%;
    height: 100%;
    display: flex;
    align-content: center;
    word-break: break-all;
    overflow: hidden;
}

.descriptionRoomContainer p {
    font-size: 0.8rem;
    color: #7A7A7A;
    width: 100%;
    max-width: 100%;
    max-width: 200px;
    margin-top: 2%;
}

.buttonRoomDivContainer {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.buttonEnterRoom{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 60%;
    border-radius: 40px;
    background-color: #00FF33;
    font-size: 0.8rem;  
    text-decoration: none;  
    color: #000000;
    transition: 300ms;
}

.buttonEnterRoom:hover{
    background-color: #1ece3f;
 
}
