.DashboardContainer{
    background-image: linear-gradient(150deg, #070707, #434343);
    display: flex;
    color: #0f3;
}
.DashboardNavegacao{
    width: 100%;
    margin-left: 2%;
}
.DashboardSuperior{
    margin: 48px 0 40px 0 ;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.DashboardSpanMeusInsights{
    width: auto;
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgba(0, 255, 51, 0.308);
}
.DashboardCenter{
    display: flex;
    justify-content: space-between;
}
.DashboardContainerEsquerda{
    width: 500px;
    height: 450px;
    border-radius: 20px;
    background-color: #000;
    position: relative;
}
.DashboardGrafico{
    
    width: 225px;
    padding: 20px 15px;
    height: 30px;
    color: #fff;
}
.DashboardGraficoPrimeiro{
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgba(0, 255, 51, 0.308);
}

.DashboardGraficoSegundo{
    padding-top: 10px;
    font-size: xx-small;
}
.DashboardTabela{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.DashboardTableTittle{
    display: flex;
    justify-content: center;
    align-items: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    margin: 20px;
}
.DashboardTableTittlePrimeiro {
    color: #fff;
    width: 166px;
    height: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 0.5px solid rgba(0, 255, 51, 0.308);
}
.DashboardTableTittleSegundo {
    color: #fff;
    font-size: xx-small;
}

.DashboardTableItens{
    width: 80%;
    height: 300px;
    padding: 10px;
    color: #000;
    margin: 0 20px;
    border: 1px solid #737373;
    background-color: #fff;
    border-radius: 20px;
    overflow: scroll;
}
.DashboardTableItens::-webkit-scrollbar{
    display: none;
}
.DashboardTableCollum{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 5px 0;
}
.DashboardTableName{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-weight: 600;
    text-shadow: 0 0 5px #fff;
    margin: 5px 5px;
    font-size: smaller;
}

.DashboardTableName p{
    width: 100%;
    text-align: center;
}

.DashboardTableData{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 5px 5px;
    font-size: x-small;
}

.DashboardTableData p{
    width: 100%;
    text-align: center;
}

.DashboardTableArquivo {
    width: 80%;
    height: 70px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    display: none;
}
  .uiverse {
    position: relative;
    background: #ffffff;
    color: #000;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    width: 160px;
    font-size: 10px;
    background: #ffffff;
    color: #ffffff;
    padding: 8px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .uiverse:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  svg:hover span,
  svg:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .uiverse:hover,
  .uiverse:hover .tooltip,
  .uiverse:hover .tooltip::before {
    background: linear-gradient(320deg, #0f3, #0f3);
    color: #000;
  }