body {
    background-color: #1A1A1A;
    width: 98.7vw;
}

.home-bannerContainer {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/index-page/banner.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid #00FF33;
    justify-content: space-around;
}

.home-bannerContainer h2 {
    margin-top: 40%;
    font-size: 1.8rem;
    color: #FFFFFF;    ;
}

.home-explanatoryContent {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 120vh;
}

.home-explanatoryContent .home-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-itensExplainContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.home-leftGroup {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-findPlayersContainer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1AFF00;
    transition: 3000ms;
    cursor: pointer;
}

.home-findPlayersContainer div {
    display: none;
}

.home-findPlayersContainer:hover img {
    display: none;
}

.home-findPlayersContainer:hover div {
    display: block;
    margin-left: 10%;
    color: #000;
}


.home-discordContainer {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7289DA;
    cursor: pointer;
}

.home-discordContainer div {
    display: none;
    color: #fff;
    font-size: 1.8rem;
    width: 70%;
    line-height: 120%;
}

.home-discordContainer:hover img {
    display: none;

}

.home-discordContainer:hover div {
    display: block;
}

.home-midGroup {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-friendsContainer {
    width: 100%;
    height: 30%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-friendsContainer div {
    display: none;

}

.home-friendsContainer:hover img {
    display: none;
}

.home-friendsContainer:hover div {
    display: block;
    color: #fff;
}

.home-bottomMidContainer {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.home-leftBottomMidContainer {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-calendarContainer {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    cursor: pointer;
}

.home-calendarContainer div {
    display: none;

}

.home-calendarContainer:hover img {
    display: none;
}

.home-calendarContainer:hover div {
    display: block;
    margin-left: 10%;
    color: #000;
}

.home-chatContainer {
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    cursor: pointer;
}

.home-chatContainer div {
    display: none;
    width: 80%;
}

.home-chatContainer:hover img {
    display: none;
}

.home-chatContainer:hover div {
    display: block;
    color: #000;
}

.home-platformsContainer {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
    cursor: pointer;
}

.home-platformsContainer div {
    display: none;

}

.home-platformsContainer:hover img {
    display: none;
}

.home-platformsContainer:hover div {
    display: block;
    margin-left: 10%;
    color: #fff;
}

.home-rightGroup {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-riotContainer {
    width: 100%;
    height: 60%;
    background-color: #FF4654;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-riotContainer div {
    display: none;
    width: 70%;
    font-size: 1.5rem;
    line-height: 120%;
}

.home-riotContainer:hover img {
    display: none;
}

.home-riotContainer:hover div {
    display: block;
    color: #fff;
}

.home-avaliationContainer {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19FF00;
    cursor: pointer;
}

.home-avaliationContainer div {
    display: none;
    width: 70%;
}

.home-avaliationContainer:hover img {
    display: none;
}

.home-avaliationContainer:hover div {
    display: block;
    color: #000;
}


.home-medalsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home-medalsContent .home-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-medalsContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
}

.home-itensMedalsContainer {
    width: 23%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-itensMedalsContainer :nth-last-child() {
    justify-content: center;
    align-items: center;
}

.home-itensMedalsContainer p {
    color: #7A7A7A;
    padding-left: 2%;
    margin-bottom: 3%;
    font-size: 0.8rem;
}

.home-itensMedalsContainer h2 {
    color: #FFFFFF;
    padding-left: 2%;
    font-size: 1.4rem;
}

.home-medalIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 70%;
    margin-left: 3%;
    border-radius: 30px;
    transition: 300ms;
    cursor: pointer;
}

.home-medalIconContainer img {
    width: 60%;
}

.home-prata {
    border: solid #7F7F7F 5px;
}

.home-prata:hover {
    background-color: #7F7F7F;
    border: solid #7F7F7F 5px;
}

.home-ouro {
    border: solid #BF9E01 5px;
}

.home-ouro:hover {
    background-color: #BF9E01;
    border: solid #BF9E01 5px;
}

.home-diamante {
    border: solid #6FFBFF 5px;
}

.home-diamante:hover {
    background-color: #6FFBFF;
    border: solid #6FFBFF 5px;
}

.home-mestre {
    border: solid #A11B11 5px;
}

.home-mestre:hover {
    background-color: #A11B11;
    border: solid #A11B11 5px;
}

/* 
seção para noticias - não finalizada */

.home-noticiesContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.home-noticiesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: green;
}

.home-imgNoticies img{
    width: 10%;
}

.awssld{
    height: 80%;
}

.awssld__content{
    height: 100%;
    padding: 1%;
}

.awssld__box {
    height: 50px;
}

.awssld--active{
    height: 100%;
}

.awssld__bar {
    background-color: transparent   ;
}



/*  */

.home-contactContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home-contactContent .home-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.home-contactContainerCard {
    width: 85%;
    height: 60%;
    border-radius: 15px 100px 15px 100px;
    background-color: black;
    background-image: url(../../assets/index-page/backgroundIconContact.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 39%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.home-contactContainerCard .home-content {
    width: 70%;
    height: 60%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-contactContainerCard .home-content h2 {
    color: #FFFFFF;
    font-size: 1.5rem;
}

.home-inputsContact {
    width: 100%;
    height: 65%;
    display: flex;
}


.home-search-wrapper {
    width: 100%;
    border-radius: 40px;
    background: transparent;
}

/* Form text input */

.home-search-wrapper input {
    padding-left: 20px;
    width: 80%;
    height: 20%;
    padding: 10px 5px;
    float: left;
    font: #fff bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #2E312D;
    border-radius: 40px;
    border-top-style: none;
    margin-top: 2%;
    color: #FFFFFF;
}

.home-search-wrapper input:focus {
    outline: 0;
    background: #2E312D;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.home-search-wrapper input::-webkit-input-placeholder {
    color: #fff;
    font-weight: normal;
    padding-left: 20px;
}

.home-search-wrapper input:-moz-placeholder {
    color: #fff;
    font-weight: normal;
    font-style: italic;
}

.home-search-wrapper input:-ms-input-placeholder {
    color: #fff;
    font-weight: normal;
    font-style: italic;
    border-style: none;
}

/* Form submit button */
.home-search-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35.5%;
    width: 18%;
    font-size: 1.0rem;
    color: #000;
    font-weight: 500;
    background: #00FF33;
    border-radius: 40px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    left: -18.5%;
    top: 11.5%;
    font-family: "Krona One";
}

.home-search-wrapper button:hover {
    background-color: #1AFF00;
}

.home-reservedRights {
    color: #fff;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awssld__bullets button:hover{
    background-color: #19FF33;
    color: #19FF33;
    box-shadow: 0 0 0.2rem #19FF00;
}

.awssld__bullets .awssld__bullets--active{
    background-color: #19FF33;
    color: #19FF33;
    box-shadow: #19FF00;
    box-shadow: 0 0 0.2rem #19FF00;
}