body {
    background: linear-gradient(45deg, rgb(01, 01, 01), rgb(43, 43, 43));
    font-family: "Krona One";
}

.container {
    height: 100vh;
    display: flex;
}

.botaoVoltar {
    display: flex;
    align-items: flex-start;
    width: 15%;
}

/*               Primeira Parte do Cadastro                       */
.cardCadastro {
    align-self: center;
    width: 70%;
    height: 75%;
    border: 1px solid #fff;
    border-radius: 20px;
    display: flex;
}

.arrowVoltarInicio {
    width: 30%;
    height: 30%;
    margin-right: 10%;
}

.arrowVoltarInicio:hover {
    width: 30%;
    height: 30%;
    margin-right: 10%;
}

.botaoVoltar p {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid #00ff03;
    border-radius: 20px;
    padding: 20% 10% 15% 40%;
    margin: -20px 0 0 -20px;
    box-shadow: 3px 3px 4px rgba(255, 255, 255, 0.3);
    color: #00ff03;
    cursor: pointer;
}

.botaoVoltar p:hover {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid #00ff03;
    border-radius: 20px;
    padding: 21% 10% 15% 41%;
    margin: -20px 0 0 -20px;
    box-shadow: 3px 3px 4px rgba(255, 255, 255, 0.3);
    color: #00ff03;
    cursor: pointer;
}

.img {
    background-image: url("./assets/imgCadastro.png");
    opacity: 0.5;
    background-size: cover;
    border-radius: 20px 0 0 20px;
    width: 52%;
}

.tituloImg {
    position: absolute;
    color: #fff;
    margin: 2% 3%;
}

.tituloImg p {
    font-weight: lighter;
    font-size: xx-small;
    font-weight: normal;
    margin-bottom: 5%;
}

.tituloImg h1 {
    font-size: xx-large;
}

.cardFormCadastro {
    width: 50%;
    border-radius: 0 20px 20px 0;
    background-color: #00ff0330;
    border-left: 1px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tituloCadastro {
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: large;
    margin: 5%;
}

.inputCadastro {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-weight: 100;
    font-size: small;
}

input {
    margin: 10px 0;
    padding: 5px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #083700;
    font-family: "Krona One";
    font-size: small;
}

.modal {
    border: 1px solid red;
    border-radius: 8px;
    background-color: #fff;
    color: #000;
    position: sticky;
    font-size: xx-small;
    padding: 5px 0 5px 5px;
    margin-bottom: 2%;
    width: 98%;
}

.botaoCadastro {
    margin-top: 20px;
    width: 60%;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00FF33;
    color: #000;
    border: 1px solid #00FF33;
    cursor: pointer;
}

.botaoCadastro:hover {
    margin-top: 20px;
    width: 60%;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00FF33;
    color: #000;
    border: 0.1px solid #000;
    cursor: pointer;
}

.arrowProximo {
    width: 25px;
    height: 25px;
    padding-left: 20px;
}

.subTitulo {
    font-family: "Krona One";
    font-weight: 100;
    font-size: xx-small;
    margin: 5% 0;
}

.loginRapido {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 7%;
    width: 60%;
}

.loginDiscord {
    width: 60%;
    height: 60%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.loginGoogle {
    width: 60%;
    height: 60%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

.show-password {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #00ff03;
    cursor: pointer;
    margin-left: 2px;
}

.iconPassword {
    padding-bottom: 32px;
}

.estiloEstadoSenha {
    width: 80%;
    font-size: xx-small;
}

/*                Segunda Parte do Cadastro             */

.cardCadastroTwo {
    align-self: center;
    margin-top: 2%;
    margin-left: 5%;
    width: 60%;
    height: 80%;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #00ff0330;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.iconAvatar {
    width: 10%;
    height: 15%;
    margin: 3%;

    padding: 10px;
    color: #fff;
    box-shadow: 0px 0px 10px #000;
    border-radius: 40px;
}

.iconEscolhaAvatar {
    height: 70%;
    width: 10%;
    margin: 0 2%;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.iconsEscolha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2% 5% 2% 5%;
    color: #000;
}

.containerJogos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 2% 0 2% 0;
    color: #000;
}

.contornoJogo {
    border: 1px solid #fff;
    background-color: #000;
    border-radius: 5px;
    height: 100%;
    width: 15%;
    margin: 2.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.valorant {
    color: #fff;
    width: 50%;
    height: 50%;
}

.leagueOfLegends {
    color: #fff;
    width: 50%;
    height: 50%;
    background-image: url('./assets/LOL.png');
    background-size: cover;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 5px;
}

.teamfightTactics {
    color: #fff;
    width: 50%;
    height: 50%;
    background-image: url('./assets/iconTFT.png');
    background-size: cover;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 5px;
}

.inputUsername {
    margin-top: 1%;
    width: 47%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.labelUsername {
    font-size: x-small;
}

.inputUsernameEstilo {
    width: 100%;
}

.botoes {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    padding: 1%;
}

.botaoVoltarCadastro {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00FF33;
    color: #000;
    border: 1px solid #00FF33;
    border-radius: 10px;
}

.botaoVoltarCadastro:hover {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00FF33;
    color: #000;
    border: 0.1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.botaoCadastrar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00FF33;
    color: #000;
    border: 1px solid #00FF33;
    border-radius: 10px;
    margin-left: 5%;
    cursor: pointer;
}

.botaoCadastrar:hover {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00FF33;
    color: #000;
    border: 0.1px solid #000;
    border-radius: 10px;
    margin-left: 5%;
}

.arrowFinalVoltar {
    width: 15%;
    height: 15%;
    margin: 0 5%;
}

.arrowFinalCadastrar {
    width: 15%;
    height: 15%;
    margin: 0 5%;
}

@media only screen and (max-width: 1100px) {

    /* Adicione suas regras CSS aqui para telas menores que 768px */
    .tituloImg {
        display: none;
    }

    .cardCadastro {
        width: 60%;
        height: auto;
        border-radius: 20px;
        flex-direction: column;

    }

    .img {
        display: none;
    }

    .cardFormCadastro {
        width: 100%;
        border-radius: 20px;
        border-left: none;
    }

    .inputCadastro {
        width: 60%;
    }

    .botaoCadastro {
        width: 60%;
    }


    .loginDiscord,
    .loginGoogle {
        width: 100%;
        margin-bottom: 10px;
    }
    .botaoVoltar {
        display: flex;
        align-items: flex-start;
        width: 30%;
    }
}

@media only screen and (max-width: 1024px) {
    .cardCadastroTwo {
        margin-top: 2%;
        margin-left: 5%;
        width: 60%;
        height: 80%;
        border: 1px solid #00ff03;
        border-radius: 20px;
        background-color: #00ff0330;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        color: #fff;
    }

    
}

@media only screen and (max-width: 500px) {
    .botaoVoltar {
        display: flex;
        align-items: flex-start;
        width: 30%;
    }

    .cardCadastroTwo {
    align-self: center;
    margin-top: 2%;
    margin-left: 5%;
    width: 60%;
    height: 100%;
    border: 1px solid #00ff03;
    border-radius: 20px;
    background-color: #00ff0330;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.iconAvatar {
    width: 10%;
    height: 15%;
    margin: 3%;

    padding: 10px;
    color: #fff;
    box-shadow: 0px 0px 10px #000;
    border-radius: 40px;
}

.iconEscolhaAvatar {
    height: 70%;
    width: 10%;
    margin: 0 2%;
    padding: 10px;
    box-shadow: 0px 0px 10px #000;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}

.iconsEscolha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: 2% 5% 2% 5%;
    color: #000;
}

.containerJogos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 5% 0 5% 0;
    color: #000;
}

.contornoJogo {
    border: 1px solid #fff;
    background-color: #000;
    border-radius: 5px;
    height: 100%;
    width: 15%;
    margin: 2.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.valorant {
    color: #fff;
    width: 50%;
    height: 50%;
}

.leagueOfLegends {
    color: #fff;
    width: 50%;
    height: 50%;
    background-image: url('./assets/LOL.png');
    background-size: cover;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 5px;
}

.teamfightTactics {
    color: #fff;
    width: 50%;
    height: 50%;
    background-image: url('./assets/iconTFT.png');
    background-size: cover;
    background-color: #fff;
    border-radius: 10px;
    padding-bottom: 5px;
}

.inputUsername {
    margin-top: 1%;
    width: 47%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.labelUsername {
    font-size: x-small;
}

.inputUsernameEstilo {
    width: 100%;
}

.botoes {
    width: 100%;
    height: 20%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2%;
    padding: 1%;
}

.botaoVoltarCadastro {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00FF33;
    color: #000;
    border: 1px solid #00FF33;
    border-radius: 10px;
    margin-left: 5%;
}

.botaoVoltarCadastro:hover {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00FF33;
    color: #000;
    border: 0.1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

.botaoCadastrar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00FF33;
    color: #000;
    border: 1px solid #00FF33;
    border-radius: 10px;
    cursor: pointer;
}

.botaoCadastrar:hover {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00FF33;
    color: #000;
    border: 0.1px solid #000;
    border-radius: 10px;
    margin-left: 5%;
}

.arrowFinalVoltar {
    width: 15%;
    height: 85%;
    margin: 0 5%;
}

.arrowFinalCadastrar {
    width: 15%;
    height: 85%;
    margin: 0 1%;
}

    
}