.ProfileIconAdicionar {
    height: 25px;
    width: auto;
    margin-left: 10px;
}

.ProfileInteresseContainer {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    overflow-y: scroll;
    flex-wrap: wrap;
    height: 360px;
    width: 80%;
}

.ProfileInteresseMiniContainer {
    width: 270px;
    height: auto;
    margin: 30px 10px 10px 0;
}

.ProfileInteresseCategoria {
    width: 250px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-size: larger;
    z-index: 1;
    margin: 0 3%;
    border-radius: 20px;
    background-color: #727272;
    border: 2px solid #000000;
}

.ProfileInteresseCategoria p {
    margin: 0 20px;
}

.ProfileInteresseGenero {
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid white;
    color: #fff;
    text-align: center;
    font-size: smaller;
    margin: 0 3%;
    z-index: 1;
    border-radius: 20px;
    background-color: #0f0f0f;
}

.ProfileInteresseGenero p {
    margin: 0 0 0 20px;
}

.ProfileInteresseIconExcluir {
    width: 20px;
    height: auto;
    margin: 0 20px 0 0;
    color: #0f3;
    cursor: pointer;
}

.ProfileInteresseIconExcluir:hover {
    width: 20px;
    height: auto;
    margin: 0 20px 0 0;
    color: #0f3;
    cursor: pointer;
}

.ModalCadastrarInteresse-interesses {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.ModalCadastrarInteresse-categorias {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.ModalCadastrarInteresse-categorias .tag {
    margin-top: 10px;
}

.ModalCadastrarInteresse-categorias .tag_selected {
    margin-top: 10px;
}

.ModalCadastrarInteresse-interesses .tag {
    margin-top: 10px;
}

.ModalCadastrarInteresse-interesses .tag_selected {
    margin-top: 10px;
}

.ModalCadastrarInteresse-body {
    max-width: 32vw;
}

.skill-percent-delete{
    height:20px;
    width: 20px;
}
.skill-percent-delete:hover{
    height:20px;
    width: 20px;
    color: rgb(255, 0, 0);
}
.skill-percent-number-interesse {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height:30px;
    width: 30px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: #000;
}
.cardInteresse {
    width: 60%;
    background-color: #fff;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    overflow-y: hidden;
    overflow-y: scroll;
    color: rgb(252, 252, 252);
    background-color: #7373733f;
}
.cardInteresse::-webkit-scrollbar{
    display: none;
}

.skillInteresse {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
.skill-percent-number-preference{
    margin: 0 100px 0 0 ;
    font-size: 16px;
}