.subtitle {
    display: flex;
    margin-top: -15px;
    margin-bottom: 15px;
  }
  
  
  .cardNotification {
    background-color: #4F4F4F;
    margin: 10px 0;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .cardNotification:hover {
    background-color: #585858;
  }
  
  .content {
    display: flex;
  }
  
  .icon {
    width: auto;
    height: auto;
  }
  
  .group-body {
    margin: 0 10px;
  }
  
  
  .title-notification {
    font-size: 10px;
    margin-bottom: 5px;
  }
  
  .message {
    font-size: 8px;
    font-family: 'Krona One'
  }
  
  .datetime {
    display: flex;
    flex-direction: column-reverse;
    /* margin: auto; */
    margin-left: auto;
    font-size: 7px;
    font-family: 'Krona One';
    font-weight: 200;
    align-items: flex-end;
    width: 60px;
  }
  
  .cardNotification-footer {
    margin: 10px 10px 0px 10px;
    display: flex;
  }