body {
    font-family: "Krona One";
    font-size: small;
}

nav {
    box-sizing: border-box;

    position: absolute;
    width: 1129px;
    height: 118px;
    left: 9vw;
    top: 10vh;

    background: #2E312D;
    border: 1px solid #000000;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 0px 70px;
    display: flex;
}

.logo {
    width: 15%;
}

.esquerdaLogo {
    width: 85%;
}

.img {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.linhaVertical {
    border: 1px solid #000;
}

.navBarDireitaCima {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0% 10% 0% 0%;
}

.linhaDireitaMeio {
    border: 1px solid #000;
    margin-left: 1%;
    width: 97%;
}

.navBarDireitaBaixo {
    height: 70%;
    display: flex;
}

.nomeGrupo {
    color: #00ff03;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2%;
    width: 100%;
}

.redeSocial {
    color: #7A7A7A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

span {
    width: 25px;
    height: 25px;
}

.iconeNavBar {
    width: 32px;
    height: 35px;
}

.baixoEsquerda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    color: #fff;
}

.baixoMeio {
    width: 40%;
    border-left: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.baixoDireita {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
