/* Users css card */
.divUserRoomCardContainer {
    min-width: 17vw;
    max-width: 10%;
    height: 90%;
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    transition: 300ms;
}

.divUserRoomCardContainer:hover {
    box-shadow: 0px 2px 10px#3a3a3a;
    transform: translateY(-2px);
}

.divLeftUser {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;
}

.imgRankUsersUser {
    width: 80%;
    margin-top: 30%;
}

.divMidUser {
    width: 65%;
    height: 100%;
}

.divUserImgAndNameContainerUsers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.8rem;
    color: white;
    height: 60%;
    width: 100%;
    gap: 5%;
}

.imgUserUsers {
    width: 50%;
}

.divLevelsOfBehaviorAndSkillContainer {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.divSKillBehaviorContainer {
    width: 28%;
    height: 95%;
    border-radius: 20px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: #737373;
}

.divSKillBehaviorContainerRed {
    background-color: #8F0000;
    box-shadow: 0 0 0.5rem #8F0000;
}

.divSKillBehaviorContainerGreen {
    background-color: #000697;
    box-shadow: 0 0 0.5rem #000697;
}

.divRightUser {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.buttonOpenModalForMessagesWithUser {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-top: 20%;
    transition: 300ms;
}

.buttonOpenModalForMessagesWithUser:hover .imgButtonChatForMeesageWithUser {
    transition: 300ms;
}

.buttonOpenModalForMessagesWithUser:hover .imgButtonChatForMeesageWithUser {
    filter: invert(40%);
}

.imgForFriend {
    width: 70%;
    margin-top: 30%;
}

.salas-icon-search{
    color: #737373;
    font-size: 30px;
    display: flex;
    position: relative;
    right: 70vw;
}

.salas-icon-filtro{
    color: #737373;
    font-size: 30px;
    display: flex;
    position: relative;
    right: 3vw;
    transform: scaleX(-1);
}

.salas-icon-filtro:hover {
    color: #fff;
}

.UsersDivContainerTitulos {
    color: #737373;
    font-size: 8px;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: space-around;
    margin: 6px 0;
}
