.ProfileJogoMiniContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProfileJogoContainerButtonAdicionar {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.ProfileJogoButtonAdicionar {
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0f3;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.ProfileJogoButtonAdicionar {
  position: relative;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #0f3;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.ProfileJogoButtonAdicionar:hover {
  background: #0f3;
  color: #000;
  box-shadow: 0 0 10px 1px rgba(0, 255, 51, 0.733);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.ProfileJogoButtonAdicionar:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.ProfileJogoButtonAdicionar::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.ProfileJogoButtonAdicionar:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.ProfileJogoCardContainer {
  height: 300px;
  margin-top: 15px;
  border-radius: 20px;
  padding: 15px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
  color: #fff;
  font-size: small;
}
.ProfileJogoCardContainer::-webkit-scrollbar{
  display: none;
}
.ProfileJogoCardContainerJogo {
  height: 225px;
  border-radius: 20px;
  padding: 5px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
  color: #fff;
  font-size: small;
}
.ProfileJogoCardContainerJogo::-webkit-scrollbar{
  display: none;
}
.ProfileJogoCardUsername{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  gap: 14%;
  margin-bottom: 10px;
  border-radius: 10px 0 10px 0;
  border: 1px solid #fff;
}
.ProfileJogoCardUsername:hover{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  gap: 14%;
  margin-bottom: 10px;
  border-radius: 10px 0 10px 0;
  border: 1px solid #737373;
  background-color: #7373733b;
}

.ProfileJogoEstiloParagrafo{
  text-transform: uppercase;
  font-size: smaller;
  font-weight: 900;
}

.ProfileJogoEstiloIcon{
  height: 30px;
  width: auto;
}


.modalCadastrarProfileJogo-jogos {
  display: flex;
  margin: 10px 10px 0px 0;
  flex-wrap: wrap;
  }


  /* Inicio Card Profile*/

  .card {
    width: 60%;
    background-color: #7373733f;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .body {
    padding: 20px;
  }
  
  .skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
  }
  
  .skill-name {
    width: 120px;
    font-size: 16px;
  }
  
  .skill-percent-number {
    margin-left: 20px;
    font-size: 16px;
  }

  .tituloInputGame{
    color: #fff;
  }

  .inputSearchGame{
    width: 50%;
    padding: 7px 15px;
  }

  .ProfileJogoCardContainerTitulo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .imgJogo{
    border-radius: 20px;
  }

  /*Inicio Card Jogo*/

  .cardJogo {
    width: 90px;
    height: 128px;
    margin: 5px;
    border-radius: 20px;
    background: #000;
    position: relative;
    padding: 0.2rem;
    border: 2px solid #000;
    transition: 0.05s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   
   /*Hover*/
   .cardJogo:hover {
    border-color: #00ff33;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .cardJogo:hover .cardJogo-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

   /*buscador*/

   .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.6rem 1rem;
    border-radius: 30px;
    width: 35em;
    transition: all ease-in-out .5s;
    margin-right: -3rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }