.sectionTitle {
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    width: 100%;
    min-height: 79px;
    height: 13%;
    justify-content: space-around;
    mix-blend-mode: hard-light;
    border-left: 5px solid #00FF33;
}

.sectionTitle p {
    color: #b8b8b8;
    font-size: 0.9rem;
}

.sectionTitle h2 {
    color: #fff;
    font-size: 1.5rem;
}